$primary: #495E63;
$secondary: #A29998;
$success: #E39161;
$info: #92D1C8;

$font-family: 'Roboto', sans-serif;

.logo-nav{
    height: 1.7em;
}

.img-header-bg{
    width: 17em;
}

.img-logo-header{
    width: 20em;
}

.header-center-el{
    padding-bottom: 8em;
    width: 22em;
}

.img-discover{
    width: 22em;
    height: 22em;
}

p{
    font-size: 18px;
}

.shadow-under{
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0);
}

.tiny-text{
    font-size: 13px;
    font-weight: 600;
}

.offer-1{
    height: 16em;
}

.offer-2{
    height: 23em;
}

.signup{
    margin-right: 1em;
}

.instatext{
    margin-left: 5em;
}

.of2-img{
    height: 18em;
    max-width: 100%;
    object-fit: cover;
}

.offer-main1{
    margin-bottom: 2em;
    height: fit-content;
}

.offer-half-1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5em 100%);
    margin-left: -5vw;
}

@media (max-width: 768px) {
    .offer-half-1 {
        clip-path: none;
        margin-left: 0;
    }

    .instatext {
        text-align: center;
        margin: auto;
    }

    .of2-img {
        max-width: 100%; 
        padding-right: 0; 
    }
}

@media (max-width: 992px) {
    .offer-half-2 {
        clip-path: none;
        margin-left: 0;
    }
}


@media (max-width: 576px) {
    .offer-half-2,
    .offer-half-1 {
        flex-basis: 100%;
        max-width: 100%;
    }
}



.offer-half-2{
    margin-right: -13vw;
}   
.offer-num{
    font-size: 12em;
    font-weight: 700;
    padding-right: 0.7em;
}

.offer-img1{
    height: 15em;
}

.locations{
    height: 30em;
    width: 30em;
}

.menu-logo{
    height: 10em;
}

.categories-img{
    width: 10em;
    height: 5em;
}

.categories-img-container {
    flex: 0 0 calc(20% - 20px);
    margin-bottom: 10px;
}

.footer-margin{
    margin-top: 7em;
}

.product-text{
    margin: 2em;
}

.product-comp-container {
    display: flex;
    align-items: stretch;
}

.product-comp {
    display: flex;
}

.product-image {
    object-fit: cover;
}

.product-details {
    padding: 20px; 
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .product-comp {
        flex-direction: column; 
    }

    .product-image {
        max-width: 100%;
        margin-bottom: 20px;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$font-family-base: "font-family: 'Roboto', sans-serif;";

h1{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
}
h4{
    font-family: 'Roboto', sans-serif;
}
h5{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
header{
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}
footer{
    font-family: 'Roboto', sans-serif;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
